:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    padding: 0.5em;
    grid-gap: 0.2em;
    height: 960px;
    width: 960px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);

    background-color: red;
  }
  
  .grid-item {
    /* border: 1px solid black;
    height: 2em;
    width: 2em;
    margin: 1em;
    /* padding: 3em;
    text-align: center;
    color: blue; */
    
    /* margin: 0.2em; */
    border: 1px solid #ddd;

  }

  .my-color-class {
    background-color: blue;
  }